pyrofork==2.3.43
https://codeload.github.com/KurimuzonAkuma/pyrogram/zip/refs/heads/dev
tgcrypto
pymongo[srv]>=3.12
motor>=3.6
marshmallow
umongo
pytz
git+https://github.com/Joelkb/cinemagoer
shortzy
aiohttp
aiofiles
speedtest-cli
fuzzywuzzy
python-Levenshtein
dnspython