git+https://github.com/KurimuzonAkuma/pyrogram
tgcrypto
motor
marshmallow
umongo
pymongo
pytz
git+https://github.com/Joelkb/cinemagoer
shortzy
aiohttp
aiofiles
telegraph
speedtest-cli
fuzzywuzzy
python-Levenshtein
